img{
   display: none;
}
button:hover+img {
    display: block;
    margin: 5px auto;
    width: 50%;
}
button:hover{
    background: black;
}
button{
    display: block;
    background: purple;
    color: white;
    margin: 5px auto;
    padding: 2em;
    width: 70%;
}